  body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgb(255, 176, 185), rgb(4, 39, 65));
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }
  p{
    position: center;
  }
  form{
    font-family:Arial, Helvetica, sans-serif 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: bold;
    color:aliceblue;
    position: center;
    margin: 10px 0px 10px 0px;
  }
  input{
    background-color: rgba(0, 0, 0, 0.301);
    width: 200px;
    height: 100px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(137, 43, 226, 0.336);
  }
  input:hover{
    color: rgba(0, 0, 0, 0.425);
    background-color: rgba(255, 255, 255, 0.459);

  }
  input:active{
    color: aliceblue;
  }
  .buttons{
    display: inline-block;
    margin: 20px;

  }
  .buttons input{
    background-color: white;
    color: gray;
    opacity: 0.54;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-color: gray;
    border-style: dotted;
  }
  .buttons input:hover{
    border-style: double;
    border-color: aqua;
  }
  .buttons input:active{
    background-color: brown;
  }
  h2 {
    color: White;
  }
  